@CHARSET "UTF-8";

label{cursor: pointer;user-select:none;}

/* ### 커스텀 태그 */
bx{display: inline-block;}
/* bx[doublebar]{height: 100%;border-left:1px solid #000;width:3px;box-sizing: content-box;} */
bx>bt{}

/* ### 공통 클래스 */
/* align         */ .tal{text-align: left !important;}.tac{text-align: center !important;}.tar{text-align: right !important;}
/* border color  */ .bde{border:1px solid #eee;}
/* bkgd color    */ .bgn{background-color: none important;} .bgf{background-color: #fff !important;} .bge{background-color: #eee;} .bg0{background-color: #000;} 
/* bkgd color    */ .bgv{background-color:#4c0099;} .bgr{background-color:#f43333 !important;}
/* float         */ .fl{float:left}.fr{float:right}.fc{clear:both}
/* font-size-em  */ .fs0{font-size:0}.fs1{font-size: 1em !important;}.fs2{font-size: 1.2em}.fs3{font-size: 1.4em}
/* font-size-px  */ .fs10{font-size:10px}.fs11{font-size:11px}.fs12{font-size:12px}.fs14{font-size:14px}
/* font-color    */ .fci{color:inherit !important}.fc0{color: #000 !important;} .fc3{color: #333 !important;} .fc6{color: #666 !important;} .fc9{color: #999 !important;} .fcf{color: #fff !important;}
/* font-color    */ .red{color: red !important;} .blue{color:#0075ff !important;} .gray{color:gray !important;} .block{display: block !important;}
/* line-height   */ .lh0{line-height:1em;}.lh1{line-height:1.1em;}
/* margin-bottom */ .mgb{margin-bottom: 4px;}
/* paddings      */ .pd0{padding:0 !important;}.pd,.pd1{padding:4px !important;}.pd2{padding:8px !important;}.pd3{padding:12px !important;}
/* postion       */ .pr{position: relative;} .par{position:absolute;right:4px;display:inline-block;}.pal{position:absolute;left:4px;display:inline-block;}
/* spacing       */ .ls0{letter-spacing:0px !important;}.ls1{letter-spacing: -1px !important;}.ls2{letter-spacing: -2px;}
/* widths %      */ .wn{width:auto}.w0{width:0}.w50{width:25%;} .w50{width:50%;}.w100{width:100%;}
/* widths box    */ .w25Box,.w50Box,.w100Box{font-size:0;}
/* widths box    */ .w25Box>*{width:25%;}.w50Box>*{width:50%;box-sizing: border-box;}.w100Box>*{width:100%;}
/* white-space   */ .wsnow{white-space:nowrap;}.wsp{white-space:pre-wrap;}
/* word-break    */ .wbkeep{word-break: keep-all;}
/* v-align       */ .vat{vertical-align:top;} .vam{vertical-align:middle;}
.hidden{visibility: hidden;} .hidden!{visibility: hidden !important;}
.none{display: none;} .none!{display: none !important;}
.bold{font-weight: bold;}
.ul,.underline{text-decoration: underline;}
.cl,.cancelLine{text-decoration: line-through;}

/* ### 개별 클래스 */
/* widths px */ .w1{width:30px;}.w2{width:60px;}.w3{width:90px;}.w4{width:120px;}.w5{width:150px;}.w6{width:180px;}.w7{width:210px;}.w8{width:240px;}.w9{width:270px;}

/* p/m 			*/ html,body,p,ul,li,pre,input,label,dl,dt,dd,iframe{margin:0;padding:0;border:0;font:inherit;vertical-align: baseline;}
/* border:none	*/ p,iframe{border:none;}
/* font-inherit	*/ button,input,select,pre,td,textarea{font: inherit;color: inherit;}
/* pointer		*/ input[type=radio],input[type=check],label,select{cursor: pointer;}
/* text-center	*/ thead>tr>th{text-align: center;}
/* */ a{text-decoration: inherit;color:inherit;}

a,p,div,th,td,form,textarea,input,button,select,dt,dd,bx,bt,label{box-sizing:border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}

html{height:100%;}
body{height:100%;}
body{font-family:'맑은 고딕';font-size:12px;background:#ccc;color: #333;}
body{overflow-x:auto;}
body{vertical-align: baseline;line-height: 1.7em;}
ul{font-size:12px;}

:root{
	--cl01:#285BAA; 
	--cl02:#16335f;
	--cl01h:#FFAA00;
	--pd:4px;
}

.ls-1{
	letter-spacing: -1px;
}

/* layout */
.layout{}
.layout>.top{vertical-align: bottom;margin-bottom: 4px;}
.layout>.top>.left{width:auto;display: inline-block;}
.layout>.top>.left>*{width:auto;display: inline-block;background: #fff;vertical-align: top;}
.layout>.top>.left>*>label{}
.layout>.top>.right{float: right;}
.layout>.body{}

top{display: table; width: auto;background: #ccc;color:#333;/* padding:0.1px; *//* border-top:1px solid #555; */padding:2px;}
top>*{display: table-row;}
top>*>*{display: table-cell;}
top>*>*>*{float: left !important;/* margin-right: 4px; */}
top bx{background: #fff;color: #000;padding:2px;margin:2px;}

left>dt{padding:4px;color: #fff;background: inherit;}
left>dd{}
right>*{text-align: right;float:right !important;padding:4px;}
/* right{padding:4px;background: #fff;} */

.form00{background: #fff;}
/* .form-layout{} */
/* .form-layout>.top{} */
/* .form-layout>.top */
/* .form-layout>.top>.left{} */
/* .form-layout>.top>.left:AFTER{clear: both} */




/* inline-block 	*/ form,label,input,dt,dd,bx,bt{display: inline-block;}
/* border			*/ select,option,input[type=file],input[type=text],input[type=password],textarea{border:1px solid #999;}
/* padding			*/ bt,select,label,input[type=file],input[type=text],input[type=password]{padding:4px;}
/* padding-border	*/ option,input[type=file],input[type=text],input[type=password],textarea{padding:3px;}

/* box-button2 		*/ input[type=submit],button{padding:2px 5.5px;border:2px solid #24426f;}
/* box-button 		*/ input[type=button],button[type=button],a.btnBox,.btnBox{cursor:pointer;color:#ffffff;padding:4px 7.5px;background: var(--cl01);border:none; display: inline-block;}
/* text-button 		*/ a.btnTxt,.btnTxt{cursor:pointer;color:var(--cl01);font-weight: bold;background: none;border:none;}
/* ft-color:HOVER	*/ input[type=submit]:HOVER,input[type=button]:HOVER,button[type=button]:HOVER,.btnBox:HOVER,.btnTxt:HOVER{color:var(--cl01h);outline:1px solid var(--cl01h);}

/* bg-color:HOVER	*/ select:HOVER,textarea:HOVER,input[type=text]:HOVER{background: #CEE9FF;}

/* vertical top 	*/ div,input,button,dt,dd{vertical-align: top;}
/* vertical mid 	*/ th{vertical-align: middle;}

/* table fixed		*/ .t-fixed{table-layout: fixed;}


/* common class*/
.flBox>*{float:left;}
.flBox:AFTER{content:'';clear: both;display:block; }
.pdBox{}
.pdBox>*{padding:5px;display: inline-block;}
.mg{margin-right:5px;margin-bottom:5px;display: inline-block;}
.none!{display: none !important;}
/* .box{padding:5px;background:#fff;border: 1px solid #eee;box-sizing:border-box;display: inline-block;overflow: auto;} */
.box{width:auto;padding:4px;display:inline-block;background: #f4f4f4;border: 1px solid #fff;outline: 1px solid #ddd;margin-top:1px;margin-bottom:5px;}
.in-overflow{position: absolute;}
.none{display:none;}
/* END */

/* font colors */ .fb{font-weight: bold;} .fRed{color:red;} .fBlude{color:blue;} .fSNone{font-weight: bold;} .flr{float:right;}
/* text */ .tal{text-align:left;} .tac{text-align:center;} .tar{text-align:right;} .fRed{color:red;} .fBlack{color: black;} .fBlude{color:blue;} .fb{font-weight: bold;}



/* rect check box */
label>input.rectBox[type=radio]{display:none;}
label:not([class])>input[type=radio],
label:not([class])>input[type=checkbox]{display: inline-block;vertical-align: inherit;/* margin-right: 1.1em; */width: 0;height:100%;line-height:1em;}
label:not([class])>input[type=radio]{margin-right: 1.1em;}
input[type=radio]:AFTER{cursor: pointer;content: '○';color: inherit;}
input[type=radio]:CHECKED:AFTER{content: '●';color: inherit;}

label.radio{background: #fff;border-bottom:4px solid #ddd;padding-bottom:0; border-radius: 2em;}
label:not([class]){background: #fff;border-bottom:4px solid #ddd;padding-bottom:0;}
label[CHECKED]:not([class]){border-bottom-color:#222;}
label:not([class]):HOVER{background: #eee;}

/* TABLE */
table{border-collapse:collapse;border-spacing:0;}
th,td{border: 1px solid #f4f4f4}
td>form{width:100%;}
td>textarea{width:100%;height:100px;float: left;}
th.w1{letter-spacing: -2px;}

.bottom{position: absolute; bottom:0; background: #aaa;color:#fff;border:none !important;display: inline-block;font-size:11px;letter-spacing: -1px;}
.bottom dt{padding:2px 4px;font-weight: bold;}
.bottom dd{padding:2px 4px;}

/* FORM */
/* select{height:28px;min-width:50px;} */
/* form.form{padding:15px;} */
/* table.form td{background: #333;} */
/* fieldset{display:inline-block;outline: 1px solid #ccc;} */
/* input[type=text]{border:1px solid #aaa;} */

.formTop{position: relative;min-height:30px;}
.formTop-left{position: absolute;top:0;left:0;z-index: 1;height: 100%;}
.formTop-center{text-align: center;width: 100%;height: 100%;z-index: 0;font-size:12px;padding:5px;font-weight: bold;}
.formTop-right{position: absolute;top:0;right:0;z-index: 1;}
.formTitle span{}
.formBody{margin-top: 5px;width:100%;}
.formBtm {margin-top: 5px;text-align: center;clear: both;}

/* th{border:1px solid #ddd;padding:2px 5px;background:#aaa;} */
/* td{border:1px solid #ddd;padding:0px 5px;} */
/* body>*:LAST-CHILD{border:5px solid #000;} */

/*
.root-layout-top{}
.root-layout-body{overflow-y: auto;border: 4px solid #000;position: relative;display: block !important;}
.root-Layout-bottom{background: red;}
.section{overflow-y: auto;height: -webkit-fill-available;}
.fixed-layout-body{
	overflow-y: auto;
}
*/

.liner{display: block;padding:5px;border: 1px solid #eee;margin-bottom: 5px;box-sizing:border-box;background:#fff;width: auto;}
.NUMBER{text-align:right;} .CENTER,.center{text-align:center;}
.WF{width:100%;}
.in{display:inline-block;width:auto;}
table.layout{width:100%;}
table.layout td{vertical-align: top;padding:0;}

.scrolln{overflow: hidden;}
.scrollx{overflow-x:auto;}
.scrolly{overflow-y:auto;}

/* formMenu */
.formMenu{position: relative;}

/* list */
table.list{width:100%;} /* table-layout: fixed; */
table.list>thead>*>th{padding:3px;border:none; /* border-right:1px solid #ccc; */ background: #EEE;}
table.list>thead>*>td{padding:3px;border:none; /* border-right:1px solid #777; */}
table.list>tbody>*>td{background: #fff;padding:3px;border:none;overflow:hidden;}
table.list>tbody>*:nth-child(even)>td{background: #f4f4f4;}
table.list>tbody>*.on>td{border-top: 1px solid #ddd;background: #efd !important;} /* background: #666; color:#fff; */
table.list>tbody{border-bottom:1px solid #ddd;}
table:empty{display: none;margin:0;}

table.list>tbody>*.new>td,
table.list>tbody>*:HOVER>td{background: #FEE;}
table.list>tbody>*>td:HOVER{color: red;}

table.list>tbody>*.dis>*{background: #eee;color: #999;}
table.list>tbody>*.dis>*>*{color: #999;}

/*custom*/
.link{cursor: pointer;}
.btn{cursor: pointer; color:#999;}
.btn:HOVER{color: red;}
.btn_b {cursor: pointer;text-align:center;color:blue;}
.btn_bb{cursor: pointer;text-align:center;color: #A4CCFF;}
.btn_bb:HOVER{color: red;text-decoration: underline;}
.btn01{border-radius: 8px;background: linear-gradient(to bottom,#fff,#ddd 90%,#777);border:1px solid #ddd;padding:5px;}
.btn01:HOVER{border-radius: 8px;background: linear-gradient(to bottom,#fff,#ECF6FF 90%,#777);border:1px solid #ddd;padding:5px;}

/* menu */
#menuHolder{background:#333;color:#ccc;vertical-align: bottom;width:100%;position: relative;clear: both;}
#menuHolder>*{display: inline-block;}
#btnHome{padding:5px;background: #000;margin:5px;float: left;}
#btnHome:HOVER{color:#fff;}

#menu00{padding: 5px;display: inline-block;color:#ccc;margin:5px; background: #000;}
#menu00>*{}
#menu00>*:HOVER{color:#fff;}
#menu01{height:40px;position:relative;display:inline-block;}
#menu01>*{display:none;}
#menu01>*.on{display:inline-block;cursor:pointer;padding: 0;}
#menu01>*>*{padding:11px;display: inline-block;}
#menu01>*>*:HOVER{color:#fff;}
#menu01>*>*.on{color:#fff;background: #000;}

#btnMenuAllView{height:20px;padding:5px;margin:5px 0;vertical-align: middle;float: left;}
#btnMenuAllView:HOVER{background: #000;}
#menuAllView{position: absolute;background: inherit;left: 0;top:40px;border: 5px solid #000;display: none;z-index: 100;}
#menuAllView>.menu00{background: #000;display: inline-block;color:#ccc;float: left;}
#menuAllView>.menu00>*{height:35px;padding:7px;}
#menuAllView>.menu00>*:HOVER{color:#fff;cursor: pointer;}
#menuAllView>.menu01{position:relative;display:inline-block;float: left;}
#menuAllView>.menu01>*{clear: both;}
#menuAllView>.menu01>*.on{display:inline-block;cursor:pointer;}
#menuAllView>.menu01>*>*{height:35px;padding:7px;display: inline-block;min-width: 150px;background: #111;float: left;text-align: center;border: 1px solid #242424;}
#menuAllView>.menu01>*>*:HOVER{color:#fff;}
#menuAllView>.menu01>*>*.on{color:#fff;background: #000;}

/*tab*/
.tabHeadBox{background: #222;width: 100%;color:#aaa;/* border:4px solid #000; */}
.tabHeadBox>*{/* border-right:1px solid #333 */;}
.tabHead{cursor:pointer;padding:5px;/* margin-right:1px; */display: inline-block;color:#aaa;}
.tabHead.on{color:#fff;display:inline-block;background: #000;}
.tabHead:HOVER{background: #000;color:#eee;}

.tabBodyBox{}
.tabBody{display:none;}
.tabBody.on{display:block;/* padding:4px; */}
table.tabBody.on{display:table;}



/* .tabHead{background: #000;width: 100%;color:#aaa;border-bottom:4px solid #000;} */
/* .tabHead>*{cursor:pointer;padding:5px;margin-right:1px;display: inline-block;color:#aaa;} */
/* .tabHead>*.on{color:#fff;display:inline-block;background: #000;} */
/* .tabHead>*:HOVER{background: #000;color:#eee;} */

div.tabBodyHolder{border:5px solid #000;background: none;box-sizing:border-box;display: inline-block;max-width: 100%;width:100%;}
table.tabBodyHolder{border:none;}
table.tabBodyHolder>tbody>tr>td{border:5px solid #000;}

/* .tabBody>*{display:none;} */
/* .tabBody>*.on{display:block;background: #ccc;width:100%;} */
/* .tabBody>*.on>div{display:inline-block;background: #fff;padding:5px;} */

.tabHeadBox02{}
.tabHeadBox02>*{padding:0;background: #242424;display: inline-block;}
.tabHeadBox02>*>*{padding:5px !important;display: inline-block;border:none !important;}
.tab.on{background:#000;color:#fff;}

/* end tab */

.formPart>.pd:FIRST-CHILD{
	padding-top:0;
}
.formPart>.pd{
	padding-left:0;
	padding-right:0;
	padding-bottom:0;
}

/* input.rectBox{display: inline-block;height: 100%;vertical-align: initial;width: 0;margin-right: 1.1em;} */
/* input.rectBox:AFTER{content: '□';color: inherit;} */
/* input.rectBox:CHECKED:AFTER{content: '■';} */

.selectBoxLayer{position:absolute;display: none;z-index: 10;}
.selectBoxLayer>*>button{padding:5px;min-width:50px;display: block;box-sizing:border-box;}
.selectBoxLayer>*{float:left;}
.selectBoxLayer_toggleBtn{display:inline-block;text-indent:-1.5em;cursor:pointer;width:0;height: 100%;}
.selectBoxLayer_optionBox{border:1px solid #000;background: #fff;box-sizing:border-box;padding-bottom:5px;}
.selectBoxLayer_option{color:#000;box-sizing:border-box;cursor:pointer;}
.selectBoxLayer_option{background:#ddd;padding:1px 4px;}
.selectBoxLayer_option:HOVER,.selectBoxLayer_option.on{background: #84C1FF}
.selectBoxLayer_optionEditLayer{position:absolute;display:none;}
.selectBoxLayer_optionEditLayer>*{float:left;}
.selectBoxLayer_optionEditLayer>*>button{min-width:50px;display: block;box-sizing:border-box;}
.selectBoxLayer_optionEditLayer>textarea{height:15em;display: inline-block;}

.layout00{padding:0;}
.layout00>*{
	padding:4px;margin:0;width:100%;
	border-bottom: 4px solid #000;
}
.layout00>*:FIRST-CHILD { 
	border-top: none;
}
.layout00>*:LAST-CHILD {border-bottom: none;} 

.form00{border:1px solid #000;}
.form00>*{display: block;padding: 4px;}
.form00>.title{background: #333;color: #fff;display: inline-block;width:100%;padding:4px 6px;}

.format00{}

table.format00{width:100%;}
.format00 td,
.format00 th{padding:0;}
.format00 th{background: #eee;}

table.format01{width:100%;}
.format01 td,
.format01 th{padding:1px;}
.format01 th{background: #eee;}

html.m #menuHolder{display: none;}


