<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<display-name>ZzProjectDistribute</display-name>

	<welcome-file-list>
		<welcome-file>/hi.html</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>ReflectHttpServlet</servlet-name>
		<servlet-class>reflectFw.core.ReflectHttpServlet</servlet-class>
		<init-param>
			<param-name>defaultPackage</param-name>
			<param-value>zz.projectDistribute.dm</param-value>
		</init-param>
		<init-param>
			<param-name>controllerPostFix</param-name>
			<param-value>Controller</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ReflectHttpServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<trim-directive-whitespaces>true</trim-directive-whitespaces>
		</jsp-property-group>
	</jsp-config>
</web-app>